#sidebar {
    background-color: deepskyblue;
    float: left;
    width: 230px;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 0;
}

#article {
    float: right;
    width: calc(100% - 230px);
    top: 0;
    right: 0;
    margin-top: 0;
    margin-left: 0;
}

.sticky {
    position: fixed;
}
